@page "/"




@* <div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card index-card">

            </div>
        </div>
        <div class="col-6">
            <div class="card index-card">

            </div>
        </div>
    </div>
</div> *@














@code{
    protected override async Task OnParametersSetAsync()
    {
        
    }
}